{erl_opts, [debug_info]}.
{deps, []}.

{profiles, [
  {customers, [
    {relx, [
      {release, {customers, "0.1.0"}, [sasl, customers]},
      {vm_args, "config/customers.vm.args"},
      {sys_config, "config/sys.config"}
    ]}
  ]},

  {tables, [
    {relx, [
      {release, {tables, "0.1.0"}, [sasl, tables]},
      {vm_args, "config/tables.vm.args"},
      {sys_config, "config/sys.config"}
    ]}
  ]},

  {machines, [
    {relx, [
      {release, {machines, "0.1.0"}, [sasl, machines]},
      {vm_args, "config/machines.vm.args"},
      {sys_config, "config/sys.config"}
    ]}
  ]},

  {safe_node, [
    {relx, [
      {release, {safe_node, "0.1.0"}, [sasl, safe_node]},
      {vm_args, "config/safe_node.vm.args"},
      {sys_config, "config/sys.config"}
    ]}
  ]},

  {waiters, [
    {relx, [
      {release, {waiters, "0.1.0"}, [sasl, waiters]},
      {vm_args, "config/waiters.vm.args"},
      {sys_config, "config/sys.config"}
    ]}
  ]}
]}.
